SECRET_KEY=change-me
DATABASE_URL=sqlite:///stock.db

LOGIN_START_HOUR=8
LOGIN_END_HOUR=18

DEV_LOGIN=false

AD_SERVER=ldap://IP_DEL_CONTROLADOR_DE_DOMINIO
AD_DOMAIN=IFTS.LOCAL
AD_BASE_DN=DC=IFTS,DC=LOCAL

AD_GROUP_ADMIN=GG_Stock_Admin
AD_GROUP_OPERADOR=GG_Stock_Operador
AD_GROUP_CONSULTA=GG_Stock_Consulta