SECRET_KEY=change-me
DATABASE_URL=sqlite:///stock.db

LOGIN_START_HOUR=8
LOGIN_END_HOUR=18

DEV_LOGIN=true

AD_SERVER=ldap://192.168.56.10
AD_DOMAIN=gcba.local
AD_BASE_DN=DC=gcba,DC=local

AD_GROUP_ADMIN=CN=GG_Stock_Admin,OU=StockApp,OU=Aplicaciones,OU=GCBA,DC=gcba,DC=local
AD_GROUP_OPERADOR=CN=GG_Stock_Operador,OU=StockApp,OU=Aplicaciones,OU=GCBA,DC=gcba,DC=local
AD_GROUP_CONSULTA=CN=GG_Stock_Consulta,OU=StockApp,OU=Aplicaciones,OU=GCBA,DC=gcba,DC=local